/**
 * Editor style.
 */

.player-container {
  text-align: left !important;
  padding-bottom: 40px;

  .components-button.action.is-small {
	border: none;
	box-shadow: none;
	background-color: transparent;
	vertical-align: text-bottom;
	&:hover {
	  border: none;
	  box-shadow: none;
	  background-color: transparent;
	}
  }

  figcaption {
	display: block !important;
  }

  .dashicons {
	&.dashicons-trash {
	  width: 27px;
	  height: 27px;
	  font-size: 27px;
	  padding: 6px 6px 6px 0;
	}

	&.dashicons-edit {
	  margin-left: 6px;
	  padding-left: 6px;
	}
  }
}

ol.playlist {
  li:last-child {
	margin-top: 20px
  }
}
